* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  gap: 40px;
}

.theme {
  text-decoration: none;
  color: black;
  font-size: 24px;
  border-bottom: 1px solid transparent;
  transition: 0.2s;
}

.theme:hover {
  border-bottom: 1px solid black;
}
